<!-- About ------------------------->
<section class="section about">
  <div class="container">
    <div class="about-content-1" id="about-1">
      <h1 class="h1 section-title revealed" data-reveal="right">
        Hi, I’m Oni Daniel, a wedding, Lifestyle & Portrait Photographer
      </h1>
      <p class="p">I am based in Lagos, Nigeria (Available to travel)</p>
    </div>
    <div class="row about-image" id="about-2">
      <img src="/images/Smooth Portrait.jpg" alt="Balinga Portrait" />
    </div>
    <div class="about-content-2" id="about-3">
      <p class="section-text">
        A passionate
        <em class="em">photograher</em>
        who are working in this field for
        <em class="em">almost a decade.</em>
        I’m ready to give you my best.
      </p>
      <p class="section-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
        maxime nam veritatis quisquam facilis fugit error corporis beatae
        quos quibusdam, tempore blanditiis numquam obcaecati vero soluta
        maiores velit doloribus ipsa ducimus voluptates nihil sint qui
        hic! Inventore veritatis quam quis!
      </p>
      <p class="section-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
        eaque illum! Repellat voluptas officiis minus iste obcaecati culpa
        vitae impedit voluptates aperiam! Neque vitae cupiditate
        laudantium maxime deserunt iste, quisquam, itaque a nulla aperiam
        nihil amet odit laborum repellendus tempore.
      </p>
      <p class="section-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas
        facilis aliquid ea minus similique numquam eveniet expedita
        mollitia eaque amet?
      </p>
      <button class="btn">Get to know Me</button>
    </div>
  </div>
</section>

<!-- Fade In script -->
<script>
  const elements = document.querySelectorAll(
    "#about-1, #about-2, #about-3"
  );

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          // Add 'visible' class when the full element is visible
          entry.target.classList.add("visible");
          // Stop observing the element after it has become visible
          observer.unobserve(entry.target);
        }
      });
    },
    {
      threshold: 0.1, // Trigger the callback when 10% of the entire element is visible
    }
  );

  elements.forEach((element) => {
    observer.observe(element);
  });
</script>