<!-- Check-out ------------------>
<section class="section check-out">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <a href="/" class="check-out-link" id="check-out-1">
                        <h3>Take a look at my work</h3>
                        <h6>Portfolio</h6>
                    </a>
                </div>
                <div>
                    <a href="/" class="check-out-link" id="check-out-2">
                        <h3>Find out my process</h3>
                        <h6>Experience</h6>
                    </a>
                </div>
                <div>
                    <a href="/" class="check-out-link" id="check-out-3">
                        <h3>See my Offering</h3>
                        <h6>Pricing</h6>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 check-out-images">
                <div class="check-out-img check-out-img-1" id="check-out-4"></div>
                <div class="check-out-img check-out-img-2" id="check-out-5"></div>
                <div class="check-out-img check-out-img-3" id="check-out-6"></div>
            </div>
        </div>
    </div>
</section>

<!-- Check-out Hover script -->
<script>
    const checkoutLinks = document.querySelectorAll(".check-out-link");
    const checkoutImages = document.querySelectorAll(".check-out-img");

    //   Adds class to current link and image
    document.addEventListener("DOMContentLoaded", () => {
        checkoutImages[0].classList.add("show-img");
        checkoutLinks[0].classList.add("active-link");
    });

    checkoutLinks.forEach((link, index) => {
        // Check if a link has been hovered
        link.addEventListener("mouseenter", () => {
            // Removes class from all links and images
            checkoutLinks.forEach((link) => {
                if (link.classList.contains("active-link")) {
                    link.classList.remove("active-link");
                }
            });
            checkoutImages.forEach((image) => {
                if (image.classList.contains("show-img")) {
                    image.classList.remove("show-img");
                }
            });

            // Adds class to hovered link and respective image
            checkoutLinks[index].classList.add("active-link");
            checkoutImages[index].classList.add("show-img");
        });
    });
</script>

<!-- Fade In script -->
<script>
    const elements = document.querySelectorAll(
        "#check-out-1, #check-out-2, #check-out-3, #check-out-4, #check-out-5, #check-out-6"
    );

    const observer = new IntersectionObserver(
        (entries) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    // Add 'visible' class when the full element is visible
                    entry.target.classList.add("visible");
                    // Stop observing the element after it has become visible
                    observer.unobserve(entry.target);
                }
            });
        },
        {
            threshold: 0.1, // Trigger the callback when 10% of the entire element is visible
        }
    );

    elements.forEach((element) => {
        observer.observe(element);
    });
</script>