/* Footer */
footer .container {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem !important;
  margin-top: 4rem;
}

footer .sub-footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

footer .footer-links {
  width: 100%;
}

.footer-links ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0;
}

.footer-links li {
  width: 100%;
  text-align: center;
}

.footer-links li a {
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #a7a6a6;
}

/* .footer-links li a:active {
  color: #434343;
} */

.sub-footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #434343;
}

.copyright {
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  text-align: center;
  color: #969696;
}

.go-up {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #969696;
}

@media screen and (min-width: 1024px) {
  footer .container {
    padding-bottom: 4rem !important;
    margin-top: 4rem;
  }

  footer .footer-links ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding-inline: 1rem;
  }

  .sub-footer {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-template-rows: auto !important;
    gap: 0 !important;
  }

  .copyright {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
  }

  .icons {
    grid-column: 2;
    grid-row: 1;
  }

  .go-up {
    grid-column: 3;
    grid-row: 1;
    justify-content: right;
  }
}
