@inherits LayoutComponentBase
<div class="layout">
    <header>
        <NavMenu />
    </header>
    <main>
        @* @Body *@
        <Hero />y
    </main>
    <footer>
        FOOTER
    </footer>
</div>

