<!-- Navbar ---------------------------->
    <header>
      <nav>
        <!-- Mobile view -->
        <div class="navbar-mobile">
          <div class="nav-display">
            <div class="nav-toggler">
              <input
                type="checkbox"
                name="nav-btn"
                id="nav-btn"
                class="navbar-input"
              />
              <label for="nav-btn" class="nav-label">
                <span class="nav-toggler-icon" id="hamburger"></span>
              </label>
            </div>
            <a href="/" class="navbar-brand">
              <img
                src="images/Balinga-Photogrphy-png-1.png"
                width="100%"
                height="80"
                alt="Daniel home"
              />
              <!-- <h1 class="h1">Balinga Photography</h1> -->
            </a>
          </div>
          <div class="navbar-extend" id="navbar-extend">
            <div class="nav-toggler">
              <input
                type="checkbox"
                name="nav-btn-extend"
                id="nav-btn-extend"
                class="navbar-input-extend"
              />
              <label for="nav-btn-extend" class="nav-label-extend">
                <span class="nav-toggler-icon-extend" id="hamburger"></span>
              </label>
            </div>
            <div class="navbar-links">
              <ul>
                <li><a class="navbar-link" href="/">Home</a></li>
                <li><a class="navbar-link" href="/about">About</a></li>
                <li><a class="navbar-link" href="/info">Info</a></li>
                <li><a class="navbar-link" href="/gallaries">Gallaries</a></li>
                <li><a class="navbar-link" href="/blog">Blog</a></li>
                <li><a class="navbar-link" href="/contact">Contact</a></li>
                <li><a class="navbar-link" href="/videos">Videos</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="navbar-lg">
          <div class="nav-display">
            <div class="navbar-links">
              <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/info">Info</a></li>
              </ul>
            </div>
            <a href="/"
              ><img
                src="images/Balinga-Photogrphy-png-1.png"
                width="100%"
                height="80"
                alt="Daniel home"
            /></a>
            <div class="navbar-links">
              <ul>
                <li><a href="/galleries">Gallaries</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/videos">Videos</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

<!-- NavLink and footer links active effect -->
<script>
  const navbarLink = document.querySelectorAll(".navbar-link");
  const url = window.location.href;

  document.addEventListener("DOMContentLoaded", () => {
    // Get the last part of the URL (the page name)
    const currentPage = url.split("/").pop();

    if (currentPage === "index.html") {
      // Add active class to nav link
      navbarLink.forEach((link) => {
        link.classList.remove("active");
      });
      navbarLink[0].classList.add("active");
    } else if (!currentPage) {
      // Add active class to nav link
      navbarLink.forEach((link) => {
        link.classList.remove("active");
      });
      navbarLink[0].classList.add("active");
    }
  });
</script>

<!-- Navbar script -->
<script>
  const openToggle = document.getElementById("nav-btn");
  const closeToggle = document.getElementById("nav-btn-extend");
  const dropdown = document.getElementById("navbar-extend");

  openToggle.addEventListener("change", () => {
    if (openToggle.checked) {
      dropdown.classList.add("show");
      closeToggle.checked = true;
    } else {
      dropdown.classList.remove("show");
    }
  });

  closeToggle.addEventListener("change", () => {
    if (!closeToggle.checked) {
      dropdown.classList.remove("show");
      openToggle.checked = false;
    } else {
      dropdown.classList.add("show");
    }
  });
</script>